@import "../../colors";


.simple-input {
  border: 0.0625rem solid $primary-border;
  padding: 0.375rem;
  font-size: 0.625rem;
  border-radius: 0.25rem;

  .datasource {
    font-size: 0.375rem;
  }

  .handleLabel {
    margin-top: 0.375rem;
    margin-left: 0.5rem;
    font-size: 0.375rem;
    white-space: nowrap;
  }

  .handle-taskStatus {
    left: 0.625rem;
    background: $dark-grey;
  }

  .handle-duration {
    right: 0.625rem;
    left: auto;
    background: $dark-grey;
  }
}