@import '../../colors';

.condition-node {
  border: 0.0625rem solid $primary-border;
  padding: 0.375rem;
  font-size: 0.625rem;
  border-radius: 0.25rem;

  .top-handle {
    background: $dark-grey;
  }

  .param-info {
    font-size: 0.5rem;
    margin: 0.25rem 0;
  }

  .input-section {
    display: flex;
    gap: 0.25rem;
  }

  .bottom-handle {
    background: $dark-grey;

    &.left {
      left: 0.625rem;

      .label {
        margin-top: 0.375rem;
        margin-left: 0.5rem;
        font-size: 0.375rem;
        white-space: nowrap;
      }
    }

    &.right {
      right: 0.625rem;
      left: auto;

      .label {
        margin-top: 0.375rem;
        margin-left: 0.5rem;
        font-size: 0.375rem;
        white-space: nowrap;
      }
    }
  }
}
