@import './colors';

html, body, #root, .App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

.App {
  height: 100vh;
}
