@import "../../colors";

.task-flow {
  display: flex;
  height: 100%;

  & aside {
    border-right: 0.0625rem solid $primary-border;
    padding: 0.9375rem 0.625rem;
    font-size: 0.75rem;
    background: $bg-light;
    flex: none;
  }

  .code-viewer {
    margin-top: 1rem;
  }

  .description {
    margin-bottom: 0.625rem;
  }
 
  .export {
    position: absolute;
    right: 12px;
    top: 12px;
    min-width: 120px;
    background-color: #F5F5F5;
    z-index: 5;
    border: 1px solid #CACACA;
    padding: 12px;
    border-radius: 5px;
  }

  .task-node {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    height: 1.25rem;
    border: 0.0625rem solid $dark-grey;
    border-radius: 0.125rem;
    margin-bottom: 0.625rem;
    cursor: grab;

    &.input {
      border-color: $blue;
    }

    &.output {
      border-color: $red;
    }
  }

  .reactflow-wrapper {
    flex-grow: 1;
    display: flex;
    height: 100%;
  }

  .selectall {
    margin-top: 0.625rem;
  }

  @media screen and (min-width: 48rem) {
    flex-direction: row;

    & aside {
      width: 15.625rem;
    }
  }
}
